{
  "Resources": {

    "MainDNSRecord" : {
      "Type" : "AWS::Route53::RecordSet",
      "Properties" : {
         "HostedZoneName" : "aws.strangeminds.org.",
         "Comment" : {
            "Fn::Join" : [ "", [
               "DNS name for ",
               { "Ref" : "AWSEBEnvironmentName" }
            ] ]
         },
         "Name" : {
            "Fn::Join" : [ "", [
               { "Ref" : "AWSEBEnvironmentName"}, ".",
               "aws.strangeminds.org" ,"."
            ] ]
         },
         "Type" : "CNAME",
         "TTL" : "900",
         "ResourceRecords" : [
            { "Ref" : "AWSEBLoadBalancer" }
         ]
      }
    },

    "PHPDNSRecord" : {
      "Type" : "AWS::Route53::RecordSet",
      "Properties" : {
         "HostedZoneName" : "aws.strangeminds.org.",
         "Comment" : {
            "Fn::Join" : [ "", [
               "DNS name for PHP.",
               { "Ref" : "AWSEBEnvironmentName" }
            ] ]
         },
         "Name" : {
            "Fn::Join" : [ "", [
               "php", ".",
               { "Ref" : "AWSEBEnvironmentName"}, ".",
               "aws.strangeminds.org" ,"."
            ] ]
         },
         "Type" : "CNAME",
         "TTL" : "900",
         "ResourceRecords" : [
            { "Ref" : "AWSEBLoadBalancer" }
         ]
      }
    }
  }


}
